body {
    color: white;
}

main h1 {
    font-size: 2rem;
    z-index: 3;
    text-transform: uppercase;
    color: #015b97;
    writing-mode: vertical-lr;
    text-orientation:upright;
}


    body .glass {
        width: 90%;
        height: 90vh;
        border-radius:5px;
    }

h2 {
    font-size: 2.3vh;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h4 {
    font-size: 2vh;
    font-weight: 400;
    letter-spacing: 0.8px;
}

.container {
    width: 100%;
    margin: 0% 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

    .container .member {
        margin: 0% 4%;
        width: 70%;
        height: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.3);
        color: rgb(1, 46, 77);
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
        padding: 50px 20px;
        z-index: 1;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

        .container .member .img-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            height: 25vh;
            width: 25vh;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.05);
            overflow: hidden;
        }

            .container .member .img-container img {
                width: 150px;
                height: 150px;
                opacity: 1;
                border-radius: 50%;
                -webkit-filter: brightness(100%);
                filter: brightness(100%);
            }

        .container .member .content {
            opacity: 0.8;
            margin-top: 10%;
            -webkit-transition: 0.5s;
            transition: 0.5s;
        }

        .container .member h2,
        .container .member h4 {
            text-align: center;
        }

        .container .member ul {
            margin-top: 8%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

            .container .member ul li {
                -webkit-transform: translateY(40px);
                transform: translateY(40px);
                -webkit-transition: 0.5s;
                transition: 0.5s;
                -webkit-transition-delay: calc(0.1s * var(--i));
                transition-delay: calc(0.1s * var(--i));
                opacity: 0;
                list-style: none;
                margin: 0px 10px;
            }

                .container .member ul li i {
                    color: #015b97;
                    font-size: 1.2rem;
                }

        .container .member:hover .content {
            opacity: 1;
            -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
        }

        .container .member:hover li {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

.circle {
    position: absolute;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.circle1 {
    height: 20rem;
    width: 20rem;
    top: -12%;
    left: -3%;
    background-color: rgba(252, 65, 127, 0.7);
    -webkit-filter: blur(10px);
    filter: blur(10px);
    z-index: 0;
}

.circle2 {
    height: 20rem;
    width: 20rem;
    bottom: -12%;
    right: -3%;
    background-color: rgba(5, 150, 194, 0.63);
    z-index: 0;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}
