
/*for responsiveness*/
@media only screen and (max-width: 768px) {

    .glass {
        display: block !important;
    }

    .right-col, .right-sec {
        width: 0% !important;
        display: none !important;
    }

    .left-col, .left-sec {
        width: auto !important;
    }

    .header {
        height: 12vw !important;
    }

    nav ul li {
        font-size: 8pt !important;
        padding: 5px 10px !important;
    }
    ::-webkit-scrollbar {
        display: none;
    }

    .content-section {
        margin-top: 12vw !important;
        padding: 0 0 10vw;
    }
}

@media only screen and (max-width: 400px) {
    .glass {
        padding: 0 !important;
    }

    nav ul li {
        font-size: 6pt !important;
        padding: 3px 6px !important;
    }
}
