
body {
    color: white;
    overflow: hidden !important;
}

main {
    display: block;
}

body .glass 
{
    width: auto;
    overflow: hidden;
    height: 100vh;
    background: none;
    background-color: #012e4d;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 2vw 50px;
}

.right-col {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-inner-container 
{
    height: 100%;
    width: 100%;
}

.right-inner-container img{
    width: 100%;
    height: auto;
}

.left-col {
    height: 100%;
    margin-top: 7vh;
    width: 50%;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.right-col-container {
    width: 78%;
    background: transparent !important;
}

    .right-col-container h1 {
        font-size: 2rem;
    }

    .right-col-container div {
        margin: 5px 0px;
    }

button {
    padding: 11px;
}

input,
button {
    outline: none;
    border: none;
}

.form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

    .form-container div {
        margin: 10px 0px;
    }

    .form-container form {
        width: 90%;
    }

.icon {
    color: gray;
    font-size: 10pt;
    margin: 0px 10px;
}

.email-container,
.password-container {
    width: calc(100% - 1.2vw);
    margin: 20px 0px;
    padding: 0.1vw 0.6vw;
    background-color: white !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: all 0.3s ease-out;
    border: 2px solid white;    
    display: flex;
    align-items: center;
    justify-content: center;
}

    .email-container .icon,
    .password-container .icon {
        width: 4%;
    }

    .email-container input,
    .password-container input {
        width: 80%;
    }

.fa-eye,
.fa-eye-slash {
    color: #6e6e6e;
}

input {
    background: transparent;
    padding: 10px 10px;
    font-size: 10pt;
}
    input[type=text],
    input[type=email]{
        -webkit-background-clip: text !important;
    }


.signup,
.login {
    border-radius: 2px;
    padding: 0.6rem 0.9rem;
    color: white;
    -webkit-box-shadow: 1px 1px 5px black;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background-color: #004675;
    width: 100%;
}

.signup-btn-container *,
.login-btn-container * {
    margin: 10px 0px 5px;
}

.signup-btn-container,
.login-btn-container {
    width: 100%;
    margin: 0;
    font-size: 10pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center,
.remember_me_container {
    margin: 0%;
    width: 100%;
}

    .remember_me_container * {
        margin: 0%;
    }

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



span {
    color: #dd4b39;
    font-weight: bold;
}
a {
    font-weight: normal;
    color: #aad8d3;
    text-decoration: underline;
}

.signup_hyperlink_container #signup_hyperlink {
    text-decoration: none;
    letter-spacing: 1.2px;
}

.signup_hyperlink_container h2 {
    text-transform: uppercase;
    transition: all 0.3s;
    font-size: 1.2rem;
}
.signup_hyperlink_container h2:hover{
    letter-spacing: 2px;
    transform: translateY(5px);
}


.button {
    font-weight: 500;
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
    color: white;
    background-color: #004675;
    border: 2px solid #004675;
        text-transform: uppercase;
}

    .button:hover {
        cursor: pointer;
        opacity: 1;
        color: #004675;
        background-color: white;
    }

.login-btn-container .button,
.signup-btn-container .button {
    width: 100%;
}

.error_block {
    margin: 0 !important;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.2);
    width: 90%;
    padding: 8px;
    border-radius: 5px;
    display: none;
    color: red;
    animation: showError 1s;
}
.error_block span{
    font-size: 14px;
    font-weight: 400;
    color: red;
}

#not_verify_email_error
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 0%;
    left: 35%;
    height: 6vh;
    width: 30%;
    z-index: 1999999999;
    animation: showError 1s;
    transition: all 1s;
    display: none;
}

.hide-display {
    display: none;
}


@keyframes showError{
    0% {
        display: none;
        opacity: 0;
        transform: translateY(-6vh);
    }
    100% {
        display: flex;
        opacity: 1;
        transform: translateY(0vh);
    }
}



