<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f664d043-6dd9-47dd-aafd-d7bdfe1f944b/resourceGroups/WorKarrResourceGroup/providers/Microsoft.Web/sites/WorKarr</ResourceId>
    <ResourceGroup>WorKarrResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://workarr.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>workarr.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WorKarr</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WorKarr</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SQLDBConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:workarrdbserver.database.windows.net,1433;Initial Catalog=WorKarr_db;Persist Security Info=False;User ID=farhan_a1i;Password=()()WorKarr()()123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:workarrdbserver.database.windows.net,1433;Initial Catalog=WorKarr_db;Persist Security Info=False;User ID=farhan_a1i;Password=()()WorKarr()()123;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:workarrdbserver.database.windows.net,1433;Initial Catalog=WorKarr_db;Persist Security Info=False;User ID=farhan_a1i;Password=()()WorKarr()()123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SQLDBConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:workarrdbserver.database.windows.net,1433;Initial Catalog=WorKarr_db;Persist Security Info=False;User ID=farhan_a1i;Password=()()WorKarr()()123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SQLDBConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:workarrdbserver.database.windows.net,1433;Initial Catalog=WorKarr_db;Persist Security Info=False;User ID=farhan_a1i;Password=()()WorKarr()()123;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>