main {
    color: #012e4d;
    flex-direction: column;
    overflow: initial;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: #9b9b9bcc;
    outline: none;
    border: none;
}


.glass {
    overflow: hidden;
    height: 100%;
    background: none;
    background-color: #012e4d;
    display: block;
    position: relative;
    width: 100%;
    padding-top: 10vh;
}




    .glass .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background: transparent;
        width: auto;
    }

.left-sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    margin-left: 20px;
    width: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    padding-left: 5vw;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1vw !important;
    text-align: left;
}

.content-section{
    margin-left: 2vw;
    padding-bottom: 5vw;
}

.left-sec h1 {
    font-size: 4vw !important;
    line-height: 120%;
    margin: 3% 0%;
    color: white;
}

.left-sec p {
    width: 90%;
    margin: 0px 0px 2vw;
    color: white;
}

.right-sec {
    width: 50%;
    height: 100vh;
    position: relative;
    background-image: url('../images/Men_Profile.png');
    background-repeat: no-repeat;
    background-size: cover;
}


.btn-container {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

.button {
    text-transform: uppercase;
    font-weight: 500;
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    color: white;
    background-color: #004675;
    animation: 0.3s buttonAnimation linear infinite alternate;
    transition: all 0.3s;
    border: 2px solid white;
    padding: 1vw 2vw;
    outline: none;
    font-size: 1.2vw;
}

@keyframes buttonAnimation {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: translateY(0px);
    }
    100% {
        transform: scale(1.02);
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
        -ms-transform: scale(1.02);
        -o-transform: scale(1.02);
        transform:  translateY(3px);
    }
}

.button:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    color: #004675;
    background-color: white;
}


.bubbles img {
    width: 50px;
    animation: bubble 7s linear infinite;
    -webkit-animation: bubble 7s linear infinite;
    z-index: 9999;
}

.bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -19vh;
}

.bubbles img:nth-child(1) {
    animation-delay: 1s;
    width: 100px;
}

.bubbles img:nth-child(2) {
    animation-delay: 2s;
    width: 80px;
}

.bubbles img:nth-child(3) {
    animation-delay: 1s;
    width: 35px;
}

.bubbles img:nth-child(4) {
    animation-delay: 3s;
    width: 125px;
}

.bubbles img:nth-child(5) {
    animation-delay: 4.5s;
    width: 50px;
}

.bubbles img:nth-child(1) {
    animation-delay: 6s;
}

@keyframes bubble {
    0% {
        opacity: 0;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-100vh);
        -webkit-transform: translateY(-100vh);
        -moz-transform: translateY(-100vh);
        -ms-transform: translateY(-100vh);
        -o-transform: translateY(-100vh);
    }
}