.right-section {
    color: #012e4d !important;
    padding: 0px 20px 5px 0px;
    padding: 0px 15px;
}

    .right-section .inner-container {
        padding: 5px 40px;
        background-color: rgba(255, 255, 255, 0.711);
        border-radius: 5px;
        border: 1px solid lightgray;
    }

.content-container {
    margin: 15px;
    padding: 10px 40px;
    background-color: white;
    font-size: 22px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid lightgray;
}

textarea {
    margin-top: 10px;
    color: gray;
    padding: 10px;
    border: 1px solid lightgray;
    resize: none;
}

.custom-file-upload {
    font-size: 14px;
    background-color: #ccc;
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 15px;
}

    .custom-file-upload i {
        font-size: 14px;
    }

    .custom-file-upload:hover,
    .custom-file-upload *:hover {
        cursor: pointer;
        background-color: darkgrey;
    }

input[type="file"] {
    display: none;
}

.dropdown-style {
    margin: 5px 0px 15px;
}

    .dropdown-style select {
        border: 1px solid gray;
        outline: none;
        padding: 8px 16px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }

        .dropdown-style select option {
            background-color: white;
            padding: 10px;
        }

        .dropdown-style select:hover {
            background-color: lightgray;
            cursor: pointer;
        }

.price-container input {
    margin-top: 5px;
    border: 1px solid gray;
    padding: 10px 5px;
    border-radius: 2px;
}

.btn {
    cursor: pointer;
    padding: 10px 20px;
    outline: none;
    border: none;
    color: white;
    background-color: #004675;
    border-radius: 2px;
}

    .btn:hover {
        cursor: pointer;
        border: none;
        opacity: 1;
        transform: scale(1.01);
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -ms-transform: scale(1.01);
        -o-transform: scale(1.01);
    }

.btn-container {
    margin-left: 85%;
}
