* {
    padding: 0;
    margin: 0;
}

body {
    color: #012e4d;
}

    body p {
        font-size: 1em;
        font-weight: 200;
    }

li p {
    margin-top: 20px;
}

.right-section {
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.container {
    height: 100vh;
    padding: 15px !important;
}

::-webkit-scrollbar {
    width: 7px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

::-webkit-scrollbar-thumb {
    background: #9b9b9bcc;
    outline: none;
    border: none;
}

textarea {
    resize: none;
}

img:hover {
    cursor: pointer;
    filter: brightness(80%);
}

input[type=file] {
    color: transparent;
    overflow: hidden;
    display: none;
}

    input[type=file]:focus, input[type=file]:hover {
        border: none !important;
        box-shadow: none !important;
    }

body * {
    outline: none;
}

.gender-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .gender-input-container label {
        color: gray;
    }

#flexSwitchCheckChecked {
    border: none;
}

    #flexSwitchCheckChecked:hover,
    #flexSwitchCheckChecked:focus {
        border: none !important;
    }

input[readonly] {
    background-color: transparent !important;
}


    input[readonly]:focus,
    input[readonly]:hover {
        cursor: default;
    }

span {
    color: red;
}


button {
    outline: none !important;
}


#cross-btn {
    width: auto !important;
}

input[type=submit] {
    width: auto !important;
}
