

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #014979;
}


main .glass {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    backdrop-filter: none;
    width: 80% !important;
    height: 94vh !important;
}

main .card-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 80%;
    height: 90%;
    background-color: transparent;
    position: absolute;
    padding: 10px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden;
}

    main .card-container .left-section,
    main .card-container .right-section {
        background-color: white;
        animation: fade-in 0.8s 1;
        -webkit-animation: fade-in 0.8s 1;
    }

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
        transform: translateX(-20px);
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateX(-20px);
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }
}

main .card-container .left-section {
    position: relative;
    margin-right: 20px;
    width: 70%;
    height: 100%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

    main .card-container .left-section .card-title {
        padding: 0px 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex !important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column !important;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center !important;
        height: 20%;
        width: auto;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center !important;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

        main .card-container .left-section .card-title h3 {
            overflow: hidden !important;
            word-break: break-word;
            font-size: 1.4rem;
            text-align: center;
        }

    main .card-container .left-section .img-container {
        width: 100%;
        height: 80% !important;
        min-height: 72vh;
        overflow: hidden;
    }

        main .card-container .left-section .img-container img {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            -o-object-position: center;
            object-position: center;
            width: 100%;
            height: 72vh;
        }

main .card-container .right-section {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 30%;
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

    main .card-container .right-section .package-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }

        main .card-container .right-section .package-container .package-description-container {
            max-height: 110px;
            overflow: hidden;
        }

        main .card-container .right-section .package-container div {
            margin-top: 10px;
        }

    main .card-container .right-section .package-price-name {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    main .card-container .right-section .package-description-container p {
        text-align: justify;
        font-size: 0.9rem;
    }

    main .card-container .right-section .duration-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        justify-content: space-between;
        vertical-align: central;
    }

        main .card-container .right-section .duration-container p {
            margin-top: 15px;
        }

    main .card-container .right-section .package-features-container ul {
        list-style-type: none;
    }

        main .card-container .right-section .package-features-container ul li {
            display: flex;
            justify-content: space-between;
            vertical-align: central;
        }

            main .card-container .right-section .package-features-container ul li i,
            main .card-container .right-section .package-features-container ul li p {
                font-size: 1rem;
            }


        main .card-container .right-section .package-features-container ul .fa-check {
            color: #014979;
        }


    main .card-container .right-section .button-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

button {
    text-align: center;
    padding: 0.6rem 0.9rem;
    color: white;
    -webkit-box-shadow: 1px 1px 5px black;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background-color: #004675;
    height: 40px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid #004675;
    outline: none;
}

    button:hover {
        cursor: pointer;
        opacity: 1;
        color: #004675;
        background-color: white;
    }

main .active-page-no {
    visibility: visible;
}

main .card2-container .left-section {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    padding: 0px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

    main .card2-container .left-section .description {
        background-color: white;
        border-radius: 5px;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        padding: 20px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        line-height: 1.5rem;
        overflow: hidden;
        overflow-y: scroll;
    }

    main .card2-container .left-section ::-webkit-scrollbar {
        width: 7px;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
    }

    main .card2-container .left-section ::-webkit-scrollbar-button {
        outline: none;
        border: none;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border: 7px solid transparent;
        margin: 10px inherit;
        height: 15px;
    }

    main .card2-container .left-section ::-webkit-scrollbar-thumb {
        background: #9b9b9bcc;
        height: 20px;
        outline: none;
        border: none;
        border-radius: 500px;
        -webkit-border-radius: 500px;
        -moz-border-radius: 500px;
        -ms-border-radius: 500px;
        -o-border-radius: 500px;
    }

    main .card2-container .left-section .description1 {
        height: 63%;
        margin-bottom: 2%;
    }

    main .card2-container .left-section .description2 {
        background-color: #012e4d;
        color: white;
        height: 35%;
    }

        main .card2-container .left-section .description2 li {
            margin-left: 50px;
        }

main .card2-container .right-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    height: 100%;
}

main .right-section .user-bio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 5px;
}

.review-client-username h6 {
    font-weight: 600;
}

.review-client-username p {
    font-size: 12px !important;
}


main .right-section .user-bio hr {
    border: 1px solid rgba(128, 128, 128, 0.411);
    width: 90%;
}

main .right-section .user-bio h5 {
    margin-top: 5px;
    font-weight: 400;
}

main .right-section .user-bio p {
    font-size: 0.8rem;
}

main .right-section .user-bio .button-container {
    margin-top: 15px;
    width: 100%;
}

main .right-section .user-bio .user-description {
    text-align: justify;
    line-height: 1.4rem;
    max-height: 14rem;
    overflow: hidden;
}

    main .right-section .user-bio .user-description p {
        font-size: 13px;
    }

main .prev,
main .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #eee;
    color: #333;
    border: none;
    outline: none;
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    z-index: 999;
}

main .prev {
    left: 5%;
}

main .next {
    right: 5%;
}

    main .prev:hover,
    main .next:hover {
        opacity: 0.8;
    }



.review-section {
    display: block !important;
    overflow-y: scroll;
}

    .review-section::-webkit-scrollbar {
        display: none;
    }


    .review-section .comment-heading {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 20px;
    }

        .review-section .comment-heading h1 {
            color: white;
            font-size: 2rem !important;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1.5;
        }

.review-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.review {
    margin: 10px 13px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 20px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
}

    .review .top-sec {
        margin-bottom: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

        .review .top-sec .img-container {
            width: 15%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
        }

            .review .top-sec .img-container img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }

        .review .top-sec .review-client-username {
            width: 65%;
        }

        .review .top-sec .stars-container {
            text-align: right;
            width: 30%;
        }

        .review .top-sec h2 {
            font-size: 1rem;
        }

        .review .top-sec p {
            font-size: 0.9rem;
        }

        .review .top-sec .stars-container i {
            color: rgba(230, 214, 3, 0.993);
        }


    .review #review_time {
        font-size: 12px;
        color: black;
    }


button {
    outline: none !important;
}


#cross-btn, #review-cross-btn {
    width: auto;
}

input[type=submit] {
    width: auto !important;
}

span {
    color: red;
}


#review-contact-btn {
    margin-top: 30px !important;
    justify-content: space-between !important;
    align-items: center !important;
}

#review-contact-btn button:first-child {
    text-align:center;
    width: 50% !important;
}

    #review-contact-btn button:last-child {
        text-align: center;
        width: 45% !important;
        background-color: green;
        border-color: green;
    }

#review-contact-btn button:last-child:hover {
    color: green !important;
    background-color: white;
}
/*
    Rating Modal Style
*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

.rating {
    display: inline-flex;
    margin-top: -10px;
    flex-direction: row-reverse
}

    .rating > input {
        display: none
    }

    .rating > label {
        position: relative;
        width: 28px;
        font-size: 35px;
        color: rgba(230, 214, 3, 1);
        cursor: pointer
    }

        .rating > label::before {
            content: "\2605";
            position: absolute;
            opacity: 0
        }

        .rating > label:hover:before,
        .rating > label:hover ~ label:before {
            opacity: 1 !important
        }

    .rating > input:checked ~ label:before {
        opacity: 1
    }

    .rating:hover > input:checked ~ label:before {
        opacity: 0.4
    }