input:focus, textarea:focus, select:focus {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3) !important;
    border: 2px solid #004675 !important;
}


input[type=submit],
input[type=button],
button{
    text-align: center;
    padding: 0.6rem 0.9rem;
    color: white;
    -webkit-box-shadow: 1px 1px 5px black;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background-color: #004675;
    width: 100%;
    padding: 5px 15px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid #004675;
    outline: none;
}

    input[type=submit]:hover,
    input[type=button]:hover,
    button:hover{
        cursor: pointer;
        opacity: 1;
        color: #004675;
        background-color: white;
    }



/*
    When there are two buttons together
*/

.button-container
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.button1{
    width: auto;
    background-color: red;
    border-color: red;
}

.button1:hover{
    background-color: white;
    color: red;
}


.button2{
    width: auto;
}


