* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    color: #012e4d;
}


.fa,
.far,
.fas {
    font-size: larger;
    color: #022741;
}


.container .middle-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 15px 0px 0px;
}

.container .header-container {
    width: 100%;
    background-color: white;
    padding: 5px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-right: 10px;
    padding: 10px;
    justify-content: space-between;
}

#categoriesId option {
    width: 300px;
}

.container .header-container .header-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.container .header-container .pagination-container ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

    .container .header-container .pagination-container ul li {
        padding: 5px 5px;
        text-decoration: none;
    }

        .container .header-container .pagination-container ul li a {
            text-decoration: none;
            color: #555555;
            outline: none;
        }

        .container .header-container .pagination-container ul li:hover {
            cursor: pointer;
            background-color: #e7e7e7;
        }

    .container .header-container .pagination-container ul .active-pg-no {
        border: 1px solid black;
    }



.container .filters-sidebar {
    margin-left: 30px;
    width: 27%;
}

.filters-sidebar .filters-sec > div {
    border-bottom: 1px solid lightgray !important;
}

    .filters-sidebar .filters-sec > div:last-child {
        border-bottom: none !important;
    }


.filters-sidebar .filters-sec {
    display: flex;
    align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.container .filters-sidebar h3 {
    font-weight: 600;
}

.container .filters-sidebar .price-range-container,
.container .filters-sidebar .company-location-container,
.container .filters-sidebar .btn-container,
.container .filters-sidebar .delivery-time-container {
    width: 100%;
    padding: 20px 30px;
}


.container .filters-sidebar .delivery-time-container {
    width: 100%;
    max-height: 30vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

    .container .filters-sidebar .delivery-time-container label {
        display: block;
    }

    .container .filters-sidebar .delivery-time-container::-webkit-scrollbar {
        width: 8px;
        background: transparent;
    }

    .container .filters-sidebar .delivery-time-container::-webkit-scrollbar-thumb {
        background-color: #3a4d5f;
    }


.container .filters-sidebar .price-range-container {
    width: 100%;
}

    .container .filters-sidebar .price-range-container .price-range {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
    }

        .container .filters-sidebar .price-range-container .price-range .price {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: space-between;
            margin: 5px 0px;
            width: 45%;
            margin: auto;
        }

            .container .filters-sidebar .price-range-container .price-range .price input {
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                text-align: center;
                font-size: 16px;
                border: 1px solid gray;
                padding: 7px;
            }

                .container .filters-sidebar .price-range-container .price-range .price input:focus {
                    border: 2px solid black;
                }

.container .filters-sidebar .company-location-container {
    padding: 10px;
}

    .container .filters-sidebar .company-location-container label {
        display: block;
    }

.dropdown-style {
    margin: 0px 5px;
}

    .dropdown-style select {
        border: 1px solid gray;
        outline: none;
        padding: 10px 20px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }

        .dropdown-style select option {
            background-color: white;
            padding: 10px;
        }

            .dropdown-style select option:hover {
                cursor: pointer;
                background-color: #dadada;
            }

        .dropdown-style select:hover {
            background-color: #cffaf6;
            cursor: pointer;
        }

button,
input {
    outline: none;
    border: none;
}

button {
    font-size: 16px;
    text-transform: uppercase;
    width: 120px;
    height: 50px;
    color: white;
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background-color: #004675;
    border: none;
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

    button:hover {
        cursor: pointer;
    }

.list-view {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create_job_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.plus-sign-container img {
    width: 100%;
    height: auto;
}


.list-view h1 {
    margin-bottom: 15px;
}

.list-view .jobs-container {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-column-gap: 25px;
    column-gap: 25px;
    row-gap: 25px;
}



.job, .create_job_container {
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in-out;
    height: auto;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    height: 380px;
}

.gig-img-container {
    width: 100%;
    height: 170px;
    overflow: hidden;
}

    .gig-img-container img {
        width: 100%;
        height: auto;
    }

        .gig-img-container img:hover {
            filter: brightness(70%);
        }

.div-content-sec {
    padding: 10px 20px;
}

.job h3 {
    margin-bottom: 10px;
}

.job .top-sec {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-between;
}

.top-sec .img-container{
    position: relative;
}

.top-sec .img-container img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.user-status {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

    .user-status.offline {
        background-color: gray;
    }

    .user-status.online {
        background-color: forestgreen;
    }



.job .top-sec .job-title {
    font-size: 1vw;
    margin-left: 10px;
}

    .job .top-sec .job-title h2 {
        font-size: 1.3vw !important;
        white-space: pre-wrap !important;
        overflow: hidden !important;
        word-break: break-word;
        max-height: 25px;
    }

    .job .top-sec .job-title .posted-time {
        font-size: 10px;
        width: 100%;
    }

.job .middle-sec {
    font-size: 0.9rem;
    margin-bottom: 15px;
}

    .job .middle-sec p {
        white-space: normal !important;
        overflow: hidden !important;
        word-break: break-word;
        line-height: 1.1rem;
        height: 5.4rem;
    }

.job .bottom-sec {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-items: center;
}


    .job .bottom-sec i.fa-ellipsis-v:hover {
        cursor: pointer;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    }

    .job .bottom-sec .icon-container {
        position: relative;
    }



.gig-dots-menu {
    background: white;
    position: absolute;
    right: 10%;
    width: 130px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    z-index: 10000000;
}

.hide-menu {
    display: none;
}

.gig-dots-menu p,
.gig-dots-menu i {
    color: black;
}

.gig-dots-menu a {
    padding: 10px 20px;
}

    .gig-dots-menu a:hover {
        background-color: lightgray;
        cursor: pointer;
    }

.gig-dots-menu a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gig-dots-menu li a p,
.gig-dots-menu li a i {
    font-size: 14px !important;
    font-weight: normal;
}

.job .bottom-sec .category {
    font-size: 12px;
    background-color: pink;
    padding: 7px 13px;
    margin-right: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.job:hover {
    cursor: default;
}

.create_job_container:hover {
    cursor: pointer;
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    -webkit-box-shadow: 0px 0px 10px rgba(1, 161, 140, 0.479);
    box-shadow: 0px 0px 10px rgba(1, 161, 140, 0.479);
}



.container {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    padding: 15px;
}

.middle-container {
    height: 100vh;
}

    .middle-container ::-webkit-scrollbar {
        width: 7px;
        transition: all 1s;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        background-color: white;
    }

    .middle-container ::-webkit-scrollbar-thumb {
        background: #9b9b9bcc;
        outline: none;
        border: none;
    }


a {
    text-decoration: none;
    color: inherit;
    outline: none;
}


.gig_rating_display p, .gig_rating_display p i {
    font-size: 18px !important;
    color: rgb(255, 216, 0);
}
