.error_block {
    margin: 0 !important;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.2);
    width: 90%;
    padding: 8px;
    border-radius: 5px;
    display: none;
    color: red;
    animation: showMessage 1s;
}

    .error_block span {
        font-size: 14px;
        font-weight: 400;
        color: red;
    }

#msg_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 0%;
    left: 35%;
    min-height: 6vh;
    width: 30%;
    z-index: 1999999999 !important;
    animation: showMessage 1s;
    transition: all 1s;
    display: none;
}

.hide-display {
    display: none;
}


@keyframes showMessage {
    0% {
        display: none;
        opacity: 0;
        transform: translateY(-6vh);
    }

    100% {
        display: flex;
        opacity: 1;
        transform: translateY(0vh);
    }
}
