
.right-section h2 {
    font-size: 2vw !important;
    color: #012e4d;
}

.right-section .heading-margin {
    padding: 10px;
}

.right-section .transaction-list-container {
    width: 100%;
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 40px;
    justify-content: space-between;
}

.right-section .left-inner-section {
    width: 75%;
    margin-right: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: transparent;
}

    .transaction,
    .order {
        padding: 25px 20px !important;
        width: 100% !important;
        color: #012e4d !important;
        display: -ms-grid !important;
        display: grid !important;
        grid-template-columns: 1fr 1fr 2fr 1fr !important;
        gap: 20px !important;
        -ms-flex-line-pack: center;
        align-content: center;
        align-items: center;
        -webkit-box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.3);
        box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.3);
        background-color: white;
        margin: 0px 0px 15px;
    }

.transaction .icon-container, .order .user-info-container {
    display: flex !important;
    align-items: center !important;
}

    .transaction .icon-container i {
        margin-right: 10px !important;
    }

.order {
    grid-template-columns: 2fr 1fr 1fr 1fr !important;
}

    .order .user-info-container img {
        width: 30px !important;
        height: 30px !important;
        margin-right: 10px !important;
    }

    .order .user-info-container a {
        text-decoration: none !important;
        color: #012e4d !important;
    }

        .order .user-info-container a:hover {
            text-decoration: underline !important;
        }

    .transaction .transaction-type,
    .order .order-status-container {
        display: flex;
        align-items: center;
    }

        .transaction .transaction-type span,
        .order .order-status-container span {
            height: 10px;
            width: 10px;
            border-radius: 50%;
            margin-right: 10px;
        }

            .order .order-status-container span.Completed {
                background-color: green;
            }


            .order .order-status-container span.Cancelled {
                background-color: red;
            }

            .order .order-status-container span.Progressing {
                background-color: yellow;
            }


            .transaction .transaction-type span.WithDraw {
                background-color: red;
            }

            .transaction .transaction-type span.Deposit {
                background-color: green;
            }

    .transaction p,
    .order p {
        font-size: 0.9rem !important;
    }










.right-inner-section {
    width: auto;
}

.right-section .right-inner-section .container {
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 20px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: white;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    grid-row-gap: 30px;
    place-items: center;
    vertical-align: central;
}

.box {
    width: 95%;
    padding: 15px 10px;
    background-color: rgb(1, 46, 77);
    color: white;
    box-shadow: 0px 0px 10px rgba(107, 107, 107, 0.589);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .box .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 5px 0px;
    }

        .box .flex .icon {
            background-color: white;
        }

            .box .flex .icon i {
                color: rgb(1, 46, 77);
            }

        .box .flex h1 {
            flex-basis: 70%;
        }

    .box .icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

        .box .icon i {
            color: white;
        }

    .box p {
        font-size: 0.9rem;
    }

.whole-container {
    width: 100%;
    padding: 15px;
    overflow-y: scroll;
    margin-bottom: 160px;
    height: 90vh;
}

    .whole-container::-webkit-scrollbar {
        width: 7px;
    }

    .whole-container::-webkit-scrollbar-thumb {
        background: #9b9b9bcc;
        outline: none;
        border: none;
    }
